<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StopWordFile" value="../../stop-words.txt"/>
    <add key="RawFile" value="../../raw_text.txt"/>
    <add key="FeatureFile" value="../../featureList.txt"/>
    <add key="BowTfIdfFile" value="../../output.txt"/>
  </appSettings>
</configuration>